.brand {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 11px;
}

:root {
  --amplify-primary-color: #7c7c7c;
  --amplify-primary-contrast: #ffffff;
  --amplify-primary-tint: #000000;
  --amplify-primary-shade: #000000;
  --amplify-secondary-color: #000000;
  --amplify-secondary-contrast: #f5f5f5;
  --amplify-secondary-tint: #000000;
  --amplify-secondary-shade: #000000;
  --amplify-tertiary-color: #000000;
  --amplify-tertiary-contrast: #000000;
  --amplify-grey: #000000;
  --amplify-light-grey: #f5f5f5;
  --amplify-white: #ffffff;
  --amplify-red: #dd3f5b;
  --amplify-font-family: Helvetica;
  --amplify-text-md: 1.75rem;
  --amplify-text-sm: 1.5rem;
}